@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

:root {
  /* Light Theme Colors */
  --background: #f8fafc; /* slate-50 */
  --foreground: #1e293b; /* slate-800 */
  --card: #ffffff;
  --card-border: #f1f5f9; /* slate-100 */
  --sidebar: #ffffff;
  --sidebar-border: #e2e8f0; /* slate-200 */
  --input: #f8fafc;
  --input-border: #e2e8f0;
  --primary: #4f46e5; /* indigo-600 */
  --primary-hover: #4338ca;
  --muted: #64748b; /* slate-500 */
  --accent: #f1f5f9;
}

.dark {
  /* Dark Theme Colors */
  --background: #020617; /* slate-950 */
  --foreground: #e2e8f0; /* slate-200 */
  --card: #0f172a; /* slate-900 */
  --card-border: #1e293b; /* slate-800 */
  --sidebar: #020617;
  --sidebar-border: #374159;
  --input: #1e293b;
  --input-border: #334155;
  --primary: #6366f1; /* indigo-500 */
  --primary-hover: #818cf8;
  --muted: #94a3b8; /* slate-400 */
  --accent: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --color-sidebar: var(--sidebar);
  --color-sidebar-border: var(--sidebar-border);
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
}

.custom-shadow {
  /* The custom shadow for dark mode (tailwind utility classes) */
  @apply dark:shadow-[6px_6px_12px_#313c4a,-6px_-6px_12px_#1e252e];
  /* The custom shadow for light mode (tailwind utility classes) */
  @apply shadow-[6px_6px_12px_#c5c5c5,-6px_-6px_12px_#ffffff];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
